<launch>

	<arg name="nbRobot" default="4"/>

 	<node name="commande" pkg="commande" type="run" output="screen" launch-prefix="xterm -geometry '80x20+550+0' -e" args="$(arg nbRobot)"/>

	<node name="aiguillage" pkg="aiguillages" type="run_Aiguillage"/>

	<node name="Robot1" pkg="robots" type="robot1" output="screen" launch-prefix="xterm -geometry '80x20+0+315' -e"/>
	<node name="Robot2" pkg="robots" type="robot2" output="screen" launch-prefix="xterm -geometry '80x20+550+315' -e"/>
	<node name="Robot3" pkg="robots" type="robot3" output="screen" launch-prefix="xterm -geometry '80x20+0+607' -e"/>
	<node name="Robot4" pkg="robots" type="robot4" output="screen" launch-prefix="xterm -geometry '80x20+550+607' -e"/>


	<node name="shuttleManager" pkg="shuttles" type="main_ShuttleManager"/>
	<node name="log_manager" pkg="commande_locale" type="log_manager"/>

</launch>
