<launch>

 	<node name="commande" pkg="commande" type="run" output="screen" launch-prefix="xterm -e"/>

	<node name="aiguillage" pkg="aiguillages" type="run_Aiguillage"/>

	<node name="Robot1" pkg="robots" type="robot1" output="screen" launch-prefix="xterm -e"/>
	<node name="Robot2" pkg="robots" type="robot2" output="screen" launch-prefix="xterm -e"/>


	<node name="shuttleManager" pkg="shuttles" type="main_ShuttleManager" output="screen" launch-prefix="xterm -e"/>
	<node name="log_manager" pkg="commande_locale" type="log_manager" output="screen" launch-prefix="xterm -e"/>

</launch>
